.dropdown {
    position: absolute;
    padding: 20px 10px;
    background: rgb(223, 226, 223);
    border-radius: 10px;
  
    li {
      margin-bottom: 14px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  