.main {
  padding: 20px 20px 0 20px; 
  //  background-color:green;
   max-width:1328px;
   margin:auto;
  //  flex: 1;
   min-height:h-screen;
   display:flex;
   align-items:center;
   justify-content:center;
  }

