@import "../../assets/style/variables";

.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-size: 1.5rem;  
  color: #fff;
  background: #3C4E7E;  
}